body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.brand-logo-b{
  height: 43px;
  float: left;
  margin-left: 10%;
  margin-right: -15%;
  background-color: white;
  padding: 4px;
  border-radius: 2px;
  opacity: .8;
}