#footer{
  text-align: center;
  clear: both;

  .footer-content {
    width: 50%;
    margin: 0 auto;

    p {
      padding-top: 60px;
      font-size: $baseFont;
      font-weight: $baseWeight;
      text-align: left;
    }

  }
}
