# Build directory
dist/

# Dependency directories
node_modules/

# Test coverage reports
coverage/
cypress/
spec/end_to_end_tests/reports/

# IDE Configurations
.idea/
.vscode/

# Mac Files
.DS_Store
