node_modules
bower_components
dist
*.swa
*.swp
*.swo

coverage/

.idea/
.DS_Store

spec/end_to_end_tests/reports/
src/stylesheets/_featuretoggles.scss
cypress/

.nyc_output

.private.notes

.talismanrc
