header {
  width: 100%;
  line-height: 60px;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 100px;

  .button{
    font-weight: 100;
    color: #fff;
  }
  
  .radar-title {
    background-color: $grey-light;
    padding-top: 30px;
    padding-bottom: 30px;
    display: table;
    margin: auto;
    width: 100%;

    .radar-title__text {
      display: table-cell;
      width: 70%;
      text-align: left;
      padding-left: 100px;
      h1 {
        font-size: 55px;
        font-weight: 900;
        letter-spacing: -.04em;
        line-height: 0.8em;
        margin: 0;
        text-transform: uppercase;
      }
    }

    .sqli-logo{
      float: left;
      margin-right: 30px;
      height: 89px;
      width: auto;
    }

    .radar-title__logo {
      // width: 30%;
      display: table-cell;
      vertical-align: middle;
      a {
        border-bottom: none;
        color: black;
        font-size: 120%;
    
      }
      img {
        vertical-align: middle;
        width: 35%;
      }

    }
  }

  .print-radar {
    margin-left: 100px;
  }

  .home-link {
    color: $pink;
    cursor: pointer;
    display: inline-block;
    font-size: $baseFont;
    padding-bottom: 15px;
    text-align: left;
    width: 60%;
  }

  #filter{
    display: inline-block;
    // float: right;
    padding-bottom: 15px;
    width: 20%;

    input{
      height: 19px;
    }
  }

  .button {
    font-size: $baseFont;
    text-transform: capitalize;
    display: inline-block;
    margin-right: 20px;
    border-radius: 2px;
    line-height: 1em;
    padding: 10px 20px;
    cursor: pointer;
    transition: all .2s ease-out;

    background-color: $grey-light;
    color: $black;

    &.no-capitalize {
      text-transform: none;
    }

    &:hover, &.selected {

      transform: translate(0, -2px);
      opacity: .85;

      &.pie-0 {
        color: white;
        background-color: $green;
      }
      &.pie-1 {
        color: white;
        background-color: $blue;
      }
      &.pie-2 {
        color: white;
        background-color: $orange;
      }
      &.pie-3 {
        color: white;
        background-color: $violet;
      }

      &.pie-4 {
        color: white;
        background-color: invert($green);
      }
      &.pie-5 {
        color: white;
        background-color: invert($blue);
      }
      &.pie-6 {
        color: white;
        background-color: invert($orange);
      }
      &.pie-7 {
        color: white;
        background-color: invert($violet);
      }
    }

    &.full-view {
      &.pie-0 {
        background-color: $green;
        color: $white;
      }
      &.pie-1 {
        background-color: $blue;
        color: $white;
      }
      &.pie-2 {
        background-color: $orange;
        color: $white;
      }
      &.pie-3 {
        background-color: $violet;
        color: $white;
      }

      &.pie-4 {
        background-color: invert($green);
        color: $white;
      }
      &.pie-5 {
        background-color: invert($blue);
        color: $white;
      }
      &.pie-6 {
        background-color: invert($orange);
        color: $white;
      }
      &.pie-7 {
        background-color: invert($violet);
        color: $white;
      }
    }
  }
}