@import 'colors';
@import 'layout';

@if $UIRefresh2022 {
  .graph-footer {
    display: flex;
    flex-direction: column;

    @include media-query-medium {
      align-items: center;
    }
  }

  .alternative-radars {
    margin-left: 32px;
    margin-right: 32px;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include default-layout-margin;

    &__list {
      width: 100%;
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 0;
      padding-bottom: 8px;
      justify-content: center;
      font-size: 1.125rem;
      font-family: $baseFontFamily;
      font-weight: 600;
      margin-bottom: 0;
      margin-left: 0;

      @include media-query-medium {
        font-size: 1.25rem;
        flex-direction: row;
      }

      @include media-query-xxlarge {
        font-size: 1.5rem;
      }

      &__row-0 {
        @include media-query-medium {
          margin-top: 48px;
        }
      }

      &-item {
        flex-grow: 1;
        flex-basis: 0;
        text-align: center;
        padding: 0;
        padding-bottom: 8px;

        &-link {
          display: inline-block;
          width: 100%;
          border-bottom: 1px solid $mist;
          padding-bottom: 4px;

          display: -webkit-box;
          line-height: 1.75rem;
          -webkit-box-orient: vertical;

          @include media-query-medium {
            -webkit-line-clamp: 1;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          margin-top: 32px;

          @include media-query-medium {
            margin-top: 0;
          }

          &.active {
            border-bottom: 3px solid $flamingo-s40;
            color: $flamingo-s40;

            &:hover {
              color: $link-hover;
              border-color: $link-hover;
            }
          }
        }
      }
    }
  }
}
