@import 'colors';
@import 'layout';

@if $UIRefresh2022 {
  .alternative-radars {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__list {
      width: 64%;
      display: flex;
      list-style: none;
      padding: 0;
      padding-bottom: 8px;
      justify-content: center;
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 0;
      margin-left: 0;

      &__row-0 {
        margin-top: 80px;
      }

      &-item {
        flex-grow: 1;
        flex-basis: 0;
        text-align: center;
        padding: 0;
        padding-bottom: 8px;

        &-link {
          display: inline-block;
          width: 100%;
          border-bottom: 1px solid $mist;
          padding-bottom: 4px;

          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          display: -webkit-box;
          overflow: hidden;
          text-overflow: ellipsis;
          line-height: 1.75rem;

          &.active {
            border-bottom: 3px solid $flamingo-s40;
            color: $flamingo-s40;

            &:hover {
              color: $link-hover;
              border-color: $link-hover;
            }
          }
        }
      }
    }
  }
}
