$orange: #f38a3e;
$violet: #b32059;
$pink: #ee0b77;

$grey-darkest: #bababa;
$grey-dark: #cacaca;
$grey: #dadada;
$grey-light: #eee;
$grey-lightest: #fafafa;
$grey-even-darker: #d7d7d7;

$white: #fff;
$black: #2c2c2c;
$grey-text: rgb(51, 51, 51);

$grey-alpha-03: rgba(255, 255, 255, 0.3);

$dark-blue: #2a2859;
$blue: #6fe9ff;
$light-blue: #b3f5ff;
$red: #ff8274;
$yellow: #f9c66b;
$green-light: #c7f6c9;
$green: #43f8b6;

$blue-active: #1f42aa;

$green-10: #e5ffe6;
$red-10: #ffe8e5;
$yellow-5: #fef9f0;

$blue-dark-10: #d9e9f2;
$blue-10: #e5fcff;
$blue-5: #f1fdff;
