#footer {
  text-align: center;
  clear: both;

  .footer-content {
    width: 100%;
    height: auto;
    background-color: black;
    margin: 0 auto;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    p {
      a:link, a:visited, a:hover, a:active {
        color: white; 
        cursor: pointer;
        border-bottom: none;
      }
      a:hover {
        color: $blue; 
        cursor: pointer;
        text-decoration: underline;
      }
      font-size: 12px;
      font-weight: normal;
      text-align: center;
      color: white;
    }
  }
}

