
#footer {
  text-align: center;
  clear: both;

  .footer-content {
    width: 100%;
    height: auto;
    background-color: black;
    margin: 0 auto;

    p {
      padding-top: 10px;
      font-size: $baseFont;
      font-weight: $baseWeight;
      text-align: left;
    }

  }
}

