header {
  width: 100%;
  line-height: 60px;
  text-align: center;
  margin-bottom: 15px;

  .radar-title {
    background-color: $grey-light;
    padding-top: 30px;
    padding-bottom: 30px;
    display: table;
    margin: auto;
    width: 100%;

    .radar-title__text {
      display: table-cell;
      width: 70%;
      text-align: left;
      padding-left: 100px;
      h1 {
        font-size: 55px;
        font-weight: 900;
        letter-spacing: -.04em;
        line-height: 0.8em;
        margin: 0;
        text-transform: uppercase;
      }
    }

    .radar-title__logo {
      width: 30%;
      display: table-cell;
      vertical-align: middle;
      a {
        border-bottom: none;
      }
      img {
        vertical-align: middle;
        width: 35%;
      }

    }
  }

  .print-radar {
    margin-left: 100px;
  }

  .home-link {
    color: $pink;
    cursor: pointer;
    display: inline-block;
    font-size: $baseFont;
    padding-bottom: 15px;
    text-align: left;
    width: 80%;
  }

  .button {
    font-size: $baseFont;
    text-transform: capitalize;
    display: inline-block;
    margin-right: 20px;
    border-radius: 2px;
    line-height: 1em;
    padding: 10px 20px;
    cursor: pointer;
    transition: all .2s ease-out;

    background-color: $grey-light;
    color: $black;

    &.no-capitalize {
      text-transform: none;
    }

    &:hover, &.selected {

      transform: translate(0, -2px);
      opacity: .85;

      &.first {
        color: white;
        background-color: $green;
      }
      &.second {
        color: white;
        background-color: $blue;
      }
      &.third {
        color: white;
        background-color: $orange;
      }
      &.fourth {
        color: white;
        background-color: $violet;
      }
    }

    &.full-view {
      &.first {
        background-color: $green;
        color: $white;
      }
      &.second {
        background-color: $blue;
        color: $white;
      }
      &.third {
        background-color: $orange;
        color: $white;
      }
      &.fourth {
        background-color: $violet;
        color: $white;
      }
    }
  }
}