header {
  width: 100%;
  line-height: 60px;
  text-align: center;
  margin-bottom: 15px;

  .radar-title {
    background-color: $black;
    padding-top: 30px;
    padding-bottom: 30px;
    display: table;
    margin: auto;
    width: 100%;

    .radar-title__text {
      display: table-cell;
      width: 70%;
      text-align: centre;
      padding-left: 10px;
      background: $black;
      h1 {
        font-size: 55px;
        font-weight: 900;
        letter-spacing: -.04em;
        line-height: 0.8em;
        margin: 0;
        text-transform: uppercase;
        color: $white;
      }
    }

    .radar-title__logo {
      width: 30%;
      display: table-cell;
      vertical-align: middle;
      a {
        border-bottom: none;
      }
      img {
        vertical-align: middle;
        width: 35%;
      }

    }
  }

  .print-radar {
    margin-left: 0px;
  }

  .print-radar.button{
    background-color: $black;
  }

  .home-link {
    color: $blue;
    cursor: pointer;
    display: inline-block;
    font-size: $baseFont;
    padding-bottom: 15px;
    text-align: left;
    width: 80%;
  }

  .button {
    font-size: $baseFont;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 0px;
    border-radius: 0px;
    line-height: 1em;
    padding: 10px 20px;
    cursor: pointer;
    transition: all .2s ease-out;
    background-color: $blue;
    color: $white;

    &:hover, &.selected {
      transform: translate(0, -2px);
      opacity: .85;
    }


  }
}