header {
  width: 100%;
  text-align: center;
  margin-bottom: 15px;

  .radar-logo {
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    text-align: left;
    a {
      border-bottom: none;
      img {
        width: 200px;
      }
    }
  }

  .radar-title {
    background-color: $black;
    padding-top: 45px;
    display: table;
    margin: auto;
    width: 100%;

    .radar-title__text {
      text-align: centre;
      background: $black;
      margin-bottom: 30px;
      h1 {
        font-size: 55px;
        font-weight: 900;
        letter-spacing: -.04em;
        line-height: 0.8em;
        margin: 0;
        text-transform: uppercase;
        color: $white;
      }
    }

  }

  .print-radar {
    margin-left: 0px;
  }

  .print-radar.button{
    background-color: $blue;
  }
 
  .home-link {
    color: $blue;
    cursor: pointer;
    display: inline-block;
    font-size: $baseFont;
    padding-bottom: 15px;
    text-align: left;
    width: 80%;
  }

  .button {
    font-size: $baseFont;
    display: inline-block;
    margin-right: 0px;
    border-radius: 0px;
    line-height: 1em;
    padding: 10px 20px;
    cursor: pointer;
    transition: all .2s ease-out;
    background-color: $blue;
    color: $white;

    &:hover, &.selected {
      transform: translate(0, -5px);
      opacity: .75;
    }

  }
}