@import 'colors';
@import 'layout';

.hero-banner {
  height: 200px;
  background-color: $yellow;
  color: $black;
  display: flex;
  align-items: center;
  margin: 0;

  @include media-query-medium {
    height: 150px;
  }

  &__wrapper {
    @include default-layout-margin;
  }
}
