@import 'mediaqueries';

@mixin default-layout-margin {
  margin: auto 24px;

  @include media-query-medium {
    margin: auto 32px;
  }

  @include media-query-large {
    width: 80%;
    margin: auto;
  }
}

@mixin eight-column-layout-margin {
  margin: auto;
  max-width: 80%;

  @include media-query-large {
    max-width: 54%;
  }
}
