@import 'colors';

.loader {
    text-align: center;
    margin-top: 200px;

    &__title {
        font-size: 1.5em;
        text-align: center;
    }

    &__wrapper {
        max-width: 60px;
        height: 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
        margin: 2rem auto;
    }

    &__block {
        box-sizing: content-box;
        width: 30px;
        height: 30px;
        background: $mist;
        animation: loader 1s linear infinite;
    }
}

@keyframes loader {
    0% {
        background: $wave;
    }
    50% {
        background: $mist;
    }
    100% {
        background: $mist;
    }
}
