//## Brand colors for use across theme.
$black: #000000; //onyx
$white: #ffffff; //white
$wave: #163c4d; //wave
$wave-light: #6b8591; //wave-light
$flamingo: #e16a7c; //flamingo
$mist: #edf1f3; //mist (ededed)
$sapphire: #47a1ad; //$sapphire
$jade: #6b9e78; //jade
$turmeric: #cc850a; //turmeric
$amethyst: #634f7d; //amethyst

$button-normal: #bd4257; // links and button color
$button-hover: #9b293c; // hover state for links and buttons
$button-disabled: #909090; //disabled state for links and buttons
