@import 'colors';
@import 'fonts';
@import 'tip';
@import 'form';
@import 'error';
@import 'header';
@import 'footer';

@import url(https://www.thoughtworks.com/css/screen.css);

body {
  font: 18px 'Open Sans';
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

#radar {
  width: 80%;
  margin: 0 auto;
  position: relative;

  svg#radar-plot {
    margin: 0 auto;
    transition: all 1s ease;
    position: absolute;
    left: 0;
    right: 0;

    .legend {
      visibility: hidden;

      transition: visibility 1s ease 1s;
    }

    path {
      &.ring-arc-3 { stroke: none; fill: $grey-light; }
      &.ring-arc-2 { stroke: none; fill: $grey; }
      &.ring-arc-1 { stroke: none; fill: $grey-dark; }
      &.ring-arc-0 { stroke: none; fill: $grey-darkest; }
    }

    .blip-link {
      text-decoration: none;
      cursor: pointer;
    }

    .quadrant-group {
      cursor: pointer;
    }

    circle, polygon, path {
      &.first { fill: $green; stroke: none; }
      &.second { fill: $blue; stroke: none; }
      &.third { fill: $orange; stroke: none; }
      &.fourth { fill: $violet; stroke: none; }
    }

    line {
      stroke: white;
    }

    text {
      &.blip-text {
        font-size: 9px;
        font-style: italic;
        fill: $white;
      }

      &.line-text {
        font-weight: bold;
        text-transform: uppercase;
        fill: $black;
        font-size: 11px;
      }
    }
  }

  div.quadrant-table {
    max-height: 0;
    max-width: 0;
    position: absolute;
    overflow: hidden;

    transition: max-height 0.5s ease 1s;

    h3 {
      text-transform: uppercase;
      font-size: $baseFont;
      margin: 0;
      font-weight: bold;
    }

    &.first {
      right: 20px;

      &.selected {
        float: right;
      }
    }

    &.second {
      left: 20px;

      &.selected {
        float: left;
      }
    }

    &.third {
      left: 20px;

      &.selected {
        float: left;
      }
    }

    &.fourth {
      right: 20px;

      &.selected {
        float: right;
      }
    }

    &.selected {
      position: relative;
      max-height: 10000px;
      max-width: 1000px;
    }

    ul {
      padding: 0;
      margin-left: 0;

      li {
        list-style-type: none;
        padding-left: 0;

        .blip-list-item {
          padding: 2px 5px;
          border-radius: 2px;
          cursor: pointer;
          font-size: $baseFont;
          font-weight: 400;

          &.highlight {
            color: white;
            background-color: rgba(0, 0, 0, 0.8);
          }
        }

        .blip-item-description {
          max-height: 0;
          overflow: hidden;
          width: 300px;

          p {
            margin: 0;
            border-top: 1px solid rgb(119, 119, 119);
            border-bottom: 1px solid rgb(119, 119, 119);
            padding: 20px;
            color: $grey-text;
            font-weight: 100;
            font-size: 14px;
          }

          transition: max-height 0.2s ease;
          &.expanded {
            transition: max-height 0.5s ease 0.2s;
            max-height: 1000px;
          }
        }
      }
    }
  }

}

@media print {
  header {
    display: none;
  }

  svg#radar-plot {
    top: 0 !important;
  }

  div.quadrant-table {
    top: 0 !important;
  }

}
