@import 'colors';
@import 'tip';
@import 'form';

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700);

body {
  font: 11px 'Open Sans';
  margin: 0;
}

h1 {
  margin: 0;
}

#radar {
  position: relative;
  width: 100%;
}

header {
  height: 90px;
  width: 100%;
  position: fixed;
  border-bottom: 2px solid $grey-light;
  line-height: 90px;
  text-align: center;
  background-color: white;
  z-index: 1;

  svg {
    position: absolute;
    top: 26px;
    left: 200px;
    cursor: pointer;
  }

  .button {
    font-size: 1.2em;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 20px;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    line-height: 1em;
    padding: 10px 20px;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    &:hover, &.selected {
      color: white;

      &.first { color: white; background-color: $green; }
      &.second { color: white; background-color: $blue; }
      &.third { color: white; background-color: $orange; }
      &.fourth { color: white; background-color: $violet; }
    }

    &.first { color: $green; border-color: $green; }
    &.second { color: $blue; border-color: $blue; }
    &.third { color: $orange; border-color: $orange; }
    &.fourth { color: $violet; border-color: $violet; }
  }
}

svg#radar-plot {
  position: fixed;
  top: 112px;
  right: 0;
  left: 0;
  margin: 0 auto;
  transition: all 1s ease;

  path {
    &.cycle-arc-3 { stroke: none; fill: $grey-light; }
    &.cycle-arc-2 { stroke: none; fill: $grey; }
    &.cycle-arc-1 { stroke: none; fill: $grey-dark; }
    &.cycle-arc-0 { stroke: none; fill: $grey-darkest; }
  }

  .blip-link {
    text-decoration: none;
    cursor: pointer;
  }

  circle, polygon, path {
    &.first { fill: $green; stroke: none; }
    &.second { fill: $blue; stroke: none; }
    &.third { fill: $orange; stroke: none; }
    &.fourth { fill: $violet; stroke: none; }
  }

  line {
    stroke: $grey-alpha-03;
  }

  text {
    &.blip-text {
      font-size: 9px;
      font-style: italic;
      fill: $white;
    }

    &.line-text {
      font-weight: bold;
      text-transform: uppercase;
      fill: $black;
    }
  }
}

div.quadrant-table {
  position: absolute;
  top: 112px;
  overflow: hidden;
  max-height: 0;
  max-width: 0;
  font-size: 10pt;
  font-weight: 100;
  
  transition: max-height 0.5s ease 1s;

  h3 {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 500;
    margin: 0;
  }

  &.first {right: 20px; left: 55%;}
  &.second {right: 55%; left: 20px;}
  &.third {right: 55%; left: 20px;}
  &.fourth {right: 20px; left: 55%;}

  &.selected {
    max-height: 1000px;
    max-width: 1000px;
  }

  ul {
    padding: 0;
    
    li {
      list-style-type: none;

      .blip-list-item {
        padding: 2px 5px;
        border-radius: 2px;
        cursor: pointer;

        &.highlight {
          color: white;
          background-color: rgba(0, 0, 0, 0.8);
        }
      }

      .blip-item-description {
        max-height: 0;
        overflow: hidden;
        width: 300px;

        p {
          margin: 0;
          border-top: 1px solid rgb(119, 119, 119);
          border-bottom: 1px solid rgb(119, 119, 119);
          padding: 10px 20px;
          color: $grey-text;
          font-weight: 100;
        }
        
        transition: max-height 0.5s ease;
        &.expanded {
          max-height: 400px;
        }
      }
    }
  }
}
