@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700);
.d3-tip {
  white-space: nowrap;
  line-height: 1;
  font-size: 12px;
  display: none;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px;
  border-color: #000;
  pointer-events: none;
  z-index: 2; }

@media screen and (min-width: 800px) {
  .d3-tip {
    display: block; } }

.d3-tip:after {
  box-sizing: border-box;
  display: none;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none; }

@media screen and (min-width: 800px) {
  .d3-tip:after {
    display: inline; } }

.d3-tip.n {
  margin: -10px 0 0; }

.d3-tip.n:after {
  content: "\25BC";
  margin: -3px 0 0;
  top: 100%;
  left: 0;
  text-align: center; }

.d3-tip.ne {
  margin: -10px 0 0 -45px; }

.d3-tip.ne:after {
  content: "\25BC";
  bottom: -8px;
  left: 18px;
  text-align: left; }

.d3-tip.nw {
  margin: -10px 0 0 45px; }

.d3-tip.nw:after {
  content: "\25BC";
  bottom: -8px;
  right: 18px;
  text-align: right; }

.input-sheet {
  width: 50%;
  margin: 100px auto; }
  .input-sheet label, .input-sheet p {
    font-weight: 100;
    color: #333333; }
  .input-sheet label {
    font-size: 16px; }
  .input-sheet input[type="text"] {
    display: block;
    margin: 0;
    width: 100%;
    font-size: 18px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    padding: 10px;
    border: solid 1px #cacaca;
    transition: box-shadow 0.3s, border 0.3s; }
    .input-sheet input[type="text"]:focus, .input-sheet input[type="text"].focus {
      outline: none;
      border: solid 1px #dadada;
      box-shadow: 0 0 5px 1px #cacaca; }

.loading {
  text-align: center;
  font-weight: 100;
  font-size: 20px;
  color: #333333;
  margin: 100px auto; }

body {
  font: 11px 'Open Sans';
  margin: 0; }

h1 {
  margin: 0; }

#radar {
  position: relative;
  width: 100%; }

header {
  height: 90px;
  width: 100%;
  position: fixed;
  border-bottom: 2px solid #eaeaea;
  line-height: 90px;
  text-align: center;
  background-color: white;
  z-index: 1; }
  header svg {
    position: absolute;
    top: 26px;
    left: 200px;
    cursor: pointer; }
  header .button {
    font-size: 1.2em;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 20px;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    line-height: 1em;
    padding: 10px 20px;
    cursor: pointer; }
    header .button:last-child {
      margin-right: 0; }
    header .button:hover, header .button.selected {
      color: white; }
      header .button:hover.first, header .button.selected.first {
        color: white;
        background-color: #83ad78; }
      header .button:hover.second, header .button.selected.second {
        color: white;
        background-color: #3db5be; }
      header .button:hover.third, header .button.selected.third {
        color: white;
        background-color: #e88744; }
      header .button:hover.fourth, header .button.selected.fourth {
        color: white;
        background-color: #8d2145; }
    header .button.first {
      color: #83ad78;
      border-color: #83ad78; }
    header .button.second {
      color: #3db5be;
      border-color: #3db5be; }
    header .button.third {
      color: #e88744;
      border-color: #e88744; }
    header .button.fourth {
      color: #8d2145;
      border-color: #8d2145; }

svg#radar-plot {
  position: fixed;
  top: 112px;
  right: 0;
  left: 0;
  margin: 0 auto;
  transition: all 1s ease; }
  svg#radar-plot path.cycle-arc-3 {
    stroke: none;
    fill: #eaeaea; }
  svg#radar-plot path.cycle-arc-2 {
    stroke: none;
    fill: #dadada; }
  svg#radar-plot path.cycle-arc-1 {
    stroke: none;
    fill: #cacaca; }
  svg#radar-plot path.cycle-arc-0 {
    stroke: none;
    fill: #bababa; }
  svg#radar-plot .blip-link {
    text-decoration: none;
    cursor: pointer; }
  svg#radar-plot circle.first, svg#radar-plot polygon.first, svg#radar-plot path.first {
    fill: #83ad78;
    stroke: none; }
  svg#radar-plot circle.second, svg#radar-plot polygon.second, svg#radar-plot path.second {
    fill: #3db5be;
    stroke: none; }
  svg#radar-plot circle.third, svg#radar-plot polygon.third, svg#radar-plot path.third {
    fill: #e88744;
    stroke: none; }
  svg#radar-plot circle.fourth, svg#radar-plot polygon.fourth, svg#radar-plot path.fourth {
    fill: #8d2145;
    stroke: none; }
  svg#radar-plot line {
    stroke: rgba(255, 255, 255, 0.3); }
  svg#radar-plot text.blip-text {
    font-size: 9px;
    font-style: italic;
    fill: #fff; }
  svg#radar-plot text.line-text {
    font-weight: bold;
    text-transform: uppercase;
    fill: #000; }

div.quadrant-table {
  position: absolute;
  top: 112px;
  overflow: hidden;
  max-height: 0;
  max-width: 0;
  transition: max-height 0.5s ease 1s; }
  div.quadrant-table.first {
    right: 20px;
    left: 55%; }
    div.quadrant-table.first h3 {
      color: #83ad78; }
  div.quadrant-table.second {
    right: 55%;
    left: 20px; }
    div.quadrant-table.second h3 {
      color: #3db5be; }
  div.quadrant-table.third {
    right: 55%;
    left: 20px; }
    div.quadrant-table.third h3 {
      color: #e88744; }
  div.quadrant-table.fourth {
    right: 20px;
    left: 55%; }
    div.quadrant-table.fourth h3 {
      color: #8d2145; }
  div.quadrant-table.selected {
    max-height: 1000px;
    max-width: 1000px; }
  div.quadrant-table ul {
    padding: 0; }
    div.quadrant-table ul li {
      list-style-type: none; }
      div.quadrant-table ul li .blip-list-item {
        padding: 2px 5px;
        border-radius: 2px;
        cursor: pointer; }
        div.quadrant-table ul li .blip-list-item.highlight {
          color: white;
          background-color: rgba(0, 0, 0, 0.8); }
      div.quadrant-table ul li .blip-item-description {
        max-height: 0;
        overflow: hidden;
        width: 300px;
        transition: max-height 0.5s ease; }
        div.quadrant-table ul li .blip-item-description p {
          margin: 0;
          border-top: 1px solid #777777;
          border-bottom: 1px solid #777777;
          padding: 10px 20px;
          color: #333333;
          font-weight: 100; }
        div.quadrant-table ul li .blip-item-description.expanded {
          max-height: 400px; }
