@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700);
.d3-tip {
  white-space: nowrap;
  line-height: 1;
  font-size: 12px;
  display: none;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px;
  border-color: #000;
  pointer-events: none;
  margin: -10px 0 0; }

@media screen and (min-width: 800px) {
  .d3-tip {
    display: block; } }

.d3-tip:after {
  box-sizing: border-box;
  display: none;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none; }

@media screen and (min-width: 800px) {
  .d3-tip:after {
    display: inline; } }

.d3-tip.n:after {
  display: none;
  content: "\25BC";
  margin: -3px 0 0;
  top: 100%;
  left: 0;
  text-align: center; }

@media screen and (min-width: 800px) {
  .d3-tip.n:after {
    display: inline; } }

body {
  font: 11px 'Open Sans'; }

#radar {
  text-align: center;
  position: relative;
  width: 100%; }

svg {
  padding: 10px;
  margin: 70px 0 0 0; }
  svg path.cycle-arc-3 {
    stroke: none;
    fill: #eaeaea; }
  svg path.cycle-arc-2 {
    stroke: none;
    fill: #dadada; }
  svg path.cycle-arc-1 {
    stroke: none;
    fill: #cacaca; }
  svg path.cycle-arc-0 {
    stroke: none;
    fill: #bababa; }
  svg .blip-link {
    text-decoration: none;
    cursor: pointer; }
  svg circle.first, svg polygon.first, svg path.first {
    fill: #83ad78;
    stroke: none; }
  svg circle.second, svg polygon.second, svg path.second {
    fill: #3db5be;
    stroke: none; }
  svg circle.third, svg polygon.third, svg path.third {
    fill: #e88744;
    stroke: none; }
  svg circle.fourth, svg polygon.fourth, svg path.fourth {
    fill: #8d2145;
    stroke: none; }
  svg line {
    stroke: rgba(255, 255, 255, 0.3); }
  svg g.quadrant-group {
    transition: opacity 1s ease; }
  svg text.blip-text {
    font-size: 9px;
    font-style: italic;
    fill: #fff; }
  svg text.line-text {
    font-weight: bold;
    text-transform: uppercase;
    fill: #000; }

div.quadrant-table {
  font-size: 10px;
  transition: all 1s ease;
  position: absolute; }
  div.quadrant-table .quadrant-name {
    cursor: pointer; }
  div.quadrant-table .cycle-table {
    overflow: hidden;
    max-height: 0;
    max-width: 0;
    transition: max-height 0.5s ease 1s; }
  div.quadrant-table.first {
    text-align: left;
    right: 30%;
    left: 50%; }
    div.quadrant-table.first .quadrant-name {
      padding-left: 10px;
      margin-left: -1px;
      border-bottom: 2px solid rgba(0, 0, 0, 0.3);
      border-left: 2px solid rgba(0, 0, 0, 0.3);
      color: #83ad78; }
  div.quadrant-table.second {
    text-align: right;
    right: 50%;
    left: 30%; }
    div.quadrant-table.second .quadrant-name {
      padding-right: 10px;
      margin-right: -1px;
      border-bottom: 2px solid rgba(0, 0, 0, 0.3);
      border-right: 2px solid rgba(0, 0, 0, 0.3);
      color: #3db5be; }
  div.quadrant-table.third {
    top: 2.7em;
    right: 50%;
    left: 30%;
    text-align: right; }
    div.quadrant-table.third .quadrant-name {
      padding-right: 10px;
      margin-right: -1px;
      border-top: 2px solid rgba(0, 0, 0, 0.3);
      border-right: 2px solid rgba(0, 0, 0, 0.3);
      color: #e88744; }
  div.quadrant-table.fourth {
    top: 2.7em;
    right: 30%;
    left: 50%;
    text-align: left; }
    div.quadrant-table.fourth .quadrant-name {
      padding-left: 10px;
      margin-left: -1px;
      border-top: 2px solid rgba(0, 0, 0, 0.3);
      border-left: 2px solid rgba(0, 0, 0, 0.3);
      color: #8d2145; }
  div.quadrant-table.selected .cycle-table {
    max-height: 1000px;
    max-width: 1000px; }
  div.quadrant-table.selected .quadrant-name {
    border-left: none;
    border-right: none; }
  div.quadrant-table.selected.first {
    text-align: right;
    right: 0;
    left: 70%; }
  div.quadrant-table.selected.second {
    text-align: left;
    left: 0;
    right: 70%; }
  div.quadrant-table.selected.third {
    text-align: left;
    right: 70%;
    left: 0; }
  div.quadrant-table.selected.fourth {
    text-align: right;
    right: 0;
    left: 70%; }
  div.quadrant-table ul {
    padding: 0; }
    div.quadrant-table ul li {
      list-style-type: none; }
      div.quadrant-table ul li .blip-list-item {
        padding: 1px 4px;
        border-radius: 4px;
        cursor: pointer; }
        div.quadrant-table ul li .blip-list-item.highlight {
          color: white;
          background-color: rgba(0, 0, 0, 0.8); }
      div.quadrant-table ul li .blip-item-description {
        max-height: 0;
        overflow: hidden;
        width: 300px;
        padding: 0;
        color: rgba(0, 0, 0, 0.5);
        margin: 0 auto;
        transition: max-height 0.5s ease; }
        div.quadrant-table ul li .blip-item-description.expanded {
          max-height: 200px; }
