.input-sheet {

  margin: 60px auto;

  p {
    font-weight: 100;
    color: $text;
    font-size: 18px;
  }

  .input-sheet__logo {
    text-align: center;
    margin-bottom: 1em;
    background-image: $input-logo-image;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 2em;
  }

  .radar-footer {
    padding-top: 200px;
  }

  .input-sheet__banner {
    background-image: $input-banner-image;
    background-repeat: no-repeat;
    background-color: $input-banner-background;
    background-size: cover;
    background-position: center;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    min-height: 285px;
    display: table;

    div {
      display: table-cell;
      vertical-align: middle;
    }
    p, h1 {
      color: $input-banner-text;
    }

    a {
      color: $input-banner-text;
      border-bottom-color: $input-banner-text;
    }
  }

  .input-sheet__form {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;

    button {
      border: none;
      background-color: transparent;
      margin: 0;
      padding: 0;
    }
  }

  input[type="text"] {
    border-bottom: 2px solid $input-textbox-border;
    display: block;
    font-size: 18px;
    margin-bottom: 30px;
    padding: 10px;
    transition: box-shadow 0.3s, border 0.3s;

    &:focus, &.focus {
      outline: none;
      border-bottom: 2px solid $input-textbox-border;
      box-shadow: none;
    }
  }
}
