header {
  text-align: center;

  .radar-title, .buttons-group, #alternative-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: space-between;
  }

  .radar-title {
    background-color: $radar-title-background;
    padding: 30px 0;

    display: table;
    margin: auto;
    width: 100%;

    .radar-title__text {

      display: table-cell;
      width: 70%;

      text-align: left;
      padding-left: 10%;

      h1 {
        font-size: 55px;
        font-weight: 900;
        letter-spacing: -.04em;
        line-height: 0.8em;
        margin: 0;
        text-transform: uppercase;
      }
    }

    .radar-title__logo {
      flex: 0 0 30%;
      margin-left: auto;
      font-size: 55px;

      width: 30%;
      display: table-cell;
      vertical-align: middle;
      background-image: $radar-title-logo-image;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      min-height: 1em;
    }
  }


  .quadrant-btn--group, .multiple-sheet-button-group {
    text-align: left;
    padding-left: 10%;
  }

  .print-radar-btn, .search-box {
    margin-left: auto;
    margin-right: 10%;
  }

  .buttons-group {
    padding: 15px 0 25px;
  }

  .home-link {
    color: $link;
    margin-bottom: 10px;
    line-height: normal;
    cursor: pointer;
    display: inline-block;
    font-size: $baseFont;
    text-align: left;
    width: 80%;
  }

  .button {
    font-size: $baseFont;
    text-transform: capitalize;
    margin-right: 20px;
    border-radius: 2px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all .2s ease-out;

    background-color: $radar-button-default;
    color: $text;

    &.no-capitalize {
      text-transform: none;
    }

    &:hover, &.selected {

      transform: translate(0, -2px);
      opacity: .85;

      &.first {
        color: $radar-button-first-text;
        background-color: $radar-button-first;
      }

      &.second {
        color: $radar-button-second-text;
        background-color: $radar-button-second;
      }

      &.third {
        color: $radar-button-third-text;
        background-color: $radar-button-third;
      }

      &.fourth {
        color: $radar-button-fourth-text;
        background-color: $radar-button-fourth;
      }
    }

    &.full-view {

      &.first {
        color: $radar-button-first-text;
        background-color: $radar-button-first;
      }

      &.second {
        color: $radar-button-second-text;
        background-color: $radar-button-second;
      }

      &.third {
        color: $radar-button-third-text;
        background-color: $radar-button-third;
      }

      &.fourth {
        color: $radar-button-fourth-text;
        background-color: $radar-button-fourth;
      }
    }
  }

  #alternative-buttons {
    margin-bottom: 50px;

    .highlight {
      border-bottom: none;
      font-weight: bold;
    }

    p {
      font-size: 16px;
      font-weight: 700;
      margin-top: 0;
      margin-bottom: 10px;
    }

    .multiple-sheet-button {
      margin-right: 10px;
    }

    .search-radar {
      border: 1px solid #aaa;
      background-color: inherit;
      //background-image: url('images/search-logo-2x.svg');
      background-repeat: no-repeat;
      background-position: 10px;
    }

    input {
      padding-left: 35px;
      width: 275px;
    }
  }
}

.ui-autocomplete {
  width: 275px !important;

  .ui-autocomplete-quadrant {
    font-size: 14px;
    font-weight: 600;
    padding: 5px;
  }

  .ui-menu-item {
    white-space: normal;
    font-size: 14px;
    font-weight: 400;

    .ui-menu-item-wrapper {
      padding: 0 10px;
    }
  }
}
