.button {
    &, 
    .buttons-group .quadrant-btn--group &.full-view {
        color: $black;
    }

    &.print-radar {
        background: none;
        color: $grey;
        padding: 0;
        font-size: $font-size-small;

        &:hover {
            transform: none;
        }
    }
}

