.button {
    $way-button-spacing-x: 15px;

    margin-bottom:10px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        display: block;
        width: 35px;
        height: 100%;
        right: -$way-button-spacing-x;
        top: 0;
    }

    @media #{$mq-mobile} {
        width: auto;
        display: block;
    }  

    &.first {
        background-color: $color-selago !important;
    }
    &.second {
        background-color: $color-bright-turquoise !important;
    }
    &.third {
        background-color: $color-lightning-yellow !important;
    }
    &.fourth {
        background-color: $color-dodger-blue !important;
    }

    &, 
    header .buttons-group .quadrant-btn--group & {
        &, &:hover, &.selected {
            color: $black;
            border-radius: $way-btn-radius;
            margin-right: $way-button-spacing-x;
            transform: translateY(0);
            opacity: 1;

            @media #{$mq-mobile} {
                margin-right: 0;
                padding-bottom: 10px;
            }
        }

        &:hover, &.selected {
            color: $white;    
        }
    }
}

.print-radar-btn {
    @media #{$mq-mobile} {
        display: none;
    }

    .print-radar {
        background: none;
        color: $color-grey;
        padding: 0;
        font-size: $font-size-small;
        white-space: nowrap;

        &:hover {
            transform: none;
            margin-right: 0;
            opacity: 1;
            color: $white;
        }
    }
}
