header {
    position: relative;

    .radar-title {
      direction: rtl;
      background: transparent;
      
      .radar-title {
        &__text {
          text-align: right;
          padding: 0 10% 0 0;
          vertical-align: middle;

          @media #{$mq-mobile} {
            h1 {
              font-size: 32px;
              line-height: 1em;
            }          
          }
        }
  
        &__logo {
          padding-left: $way-side-margin;
          text-align:left; 
  
          img {
            width: $way-logo-width;
          }  
        }
      }
    }

    // Back button
    .home-link {
      $way-home-link-pos: calc(#{$way-side-margin} + 5px);

      position: absolute;
      left: $way-home-link-pos;
      margin-top: 10px;
      font-size: 14px;
      transition: all .2s ease-out;
      color: $white;

      &:hover {
        opacity: .85;
      }

      @media #{$mq-mobile} {
        bottom: -40px;
        left: auto;
        right: $way-home-link-pos;
        text-align: right;
      }
    }

    .buttons-group {
      padding-bottom: 0px;
    }

    #alternative-buttons {
        margin-bottom: 40px;
    }

    .quadrant-btn--group {
      @media #{$mq-mobile} {
        padding: 0 10%;
        width: 100%;
      }
    }

}