header {
    .radar-title {
      direction: rtl;
      background: transparent;
      
      .radar-title {
        &__text {
          text-align: right;
          padding: 0 10% 0 0;
          vertical-align: middle;
        }
  
        &__logo {
          padding-left: 10%;
          text-align:left; 
  
          img {
            width: $way-logo-width;
          }  
        }
      }
    }

    .buttons-group{
        padding-bottom: 0;
    }

    #alternative-buttons {
        margin-bottom: 30px;
    }
  }