header {
    .radar-title {
      direction: rtl;
      background: transparent;
      
      .radar-title {
        &__text {
          text-align: right;
          padding: 0 10% 0 0;
          vertical-align: middle;

          @media #{$mq-mobile} {
            h1 {
              font-size: 32px;
              line-height: 1em;
            }          
          }
        }
  
        &__logo {
          padding-left: 10%;
          text-align:left; 
  
          img {
            width: $way-logo-width;
          }  
        }
      }
    }

    .home-link {
      &, &.selected {
        color: $white;
        margin-bottom: 0;
        margin-top: 10px;
      }

      @media #{$mq-mobile} {
        // Hide Search-box on Button selected
        display: none;
      }
    }

    .buttons-group {
      @media #{$mq-mobile} {
        padding-bottom: 0;
      }
    }

    #alternative-buttons {
        margin-bottom: 30px;
    }

    .quadrant-btn--group {
      @media #{$mq-mobile} {
        padding: 0 10%;
        width:100%;
      }
    }

}