#radar {
    .blip-text {
        color: $black !important;
        fill: $black !important;
    }

    div.quadrant-table {
        border-radius: 2px; 
        
        ul li {
            .blip-item-description {
                width: 100%; 
                        
                &.expanded {
                    border-bottom: 1px solid $white;
                    border-top: 1px solid $white;
                    margin: 10px 0 20px 0;
                }
                
                p {
                    color: white !important;
                    padding: 15px 10px !important;                
                }    
            }
        }

        .quadrant-table__name + h3 {
            margin-top: 15px;
            
            @media #{$mq-mobile} {
                margin-top: 15px;
            }
        }

        &.selected {
            z-index: 1000;
            background: rgba(50,50,50,0.4);
            padding: 0 15px;
            max-width: 30%;            

            @media #{$mq-mobile} {
                max-width: 100%;
                padding: 0 15px;
                margin-bottom: 45px;
            }

            // Item hover
            .blip-list-item.highlight {
                background: $white;
                color: $black;
            }            
        }
    }

    path {
        &.ring-arc-3 {
          fill: $color-grey-darker !important;
        }

        &.ring-arc-2 {
          fill: $color-grey-dark !important;
        }

        &.ring-arc-1 {
          fill: $color-grey !important;
        }

        &.ring-arc-0 {
          fill: $color-grey-light !important;
        }
    }

    circle, polygon, path {
        &.first {
          fill: $color-selago !important;
        }

        &.second {
          fill: $color-bright-turquoise !important;
        }

        &.third {
          fill: $color-lightning-yellow !important;
        }

        &.fourth {
          fill: $color-dodger-blue !important;
        }
    }

    @media #{$mq-mobile} {
        height: auto !important; 

        // Hide radar visual on mobile
        svg#radar-plot {
            display: none;
        }    
    }
}