#alternative-buttons .search-box {
    @media #{$mq-mobile} {
        margin: 0 10%;
        display: block;
        width: 100%;
    }

    .search-radar {
        background-color: $white;
        color: $black !important;
        margin-bottom: 0;
        padding: 0 35px 0 10px;
        background-position: calc(100% - 10px);
        border: none;
        border-radius: 2px;
        background-image: url(/images/search.svg) !important;
        width: 200px;

        @media #{$mq-mobile} {
            padding-left: 15px;
            width: 100%;    
            border-radius: $way-btn-radius;
        }
    
        &, &::placeholder {
            color: $color-grey;
        }
    }
}