#alternative-buttons .search-box {
    .search-radar {
        background-color: $white;
        margin-bottom: 0;
        padding: 0 35px 0 10px;
        background-position: calc(100% - 10px);
        border: 1px solid $color-grey;
        border-radius: 3px;
        background-image: url(/images/search.svg) !important;
        width: 200px;

        &, &::placeholder {
            color: $black;
        }
    }
}