$way-logo-width: 50px;

/*
    Loading screen
*/
.input-sheet {
  & &__banner {
    background: none;
    background-color: black;
    min-height: auto;
  }
  & &__logo {
    a img {
      width: $way-logo-width;
    }
  }
}

/**
    Radar main screen
*/

header {
  .radar-title {
    direction: rtl;
    
    .radar-title {
      &__text {
        text-align: right;
        padding: 0 10% 0 0;
        vertical-align: middle;
      }

      &__logo {
        padding-left: 10%;
        text-align:left; 

        img {
          width: $way-logo-width;
        }  
      }
    }
  }
}