/**
  WAY Colors
*/
$color-selago: #f5d9ff;
$color-bright-turquoise:#26ffc9;
$color-lightning-yellow: #ffc926;
$color-dodger-blue:#42bafe;

$color-grey-darker: #666666;
$color-grey-dark: #939393;
$color-grey: #a8a8a8;
$color-grey-light: #b9b9b9;

$black: #000;
$white: #fff;