@import 'colors';
@import 'font';

/**
  Logo size
*/
$way-logo-width: 50px;

/** 
  Buttons
*/
$way-btn-radius: 22px;

/**
  Side-margins
*/
$way-side-margin: 10%;

/**
  Media Queries
*/
$mq-mobile: "only screen and (max-width: 740px)";
