#radarHeader {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

#radar {
    margin: 0 30px;
    position: relative;

    svg#radar-plot {
        margin: 0 auto;
        transition: all 1s ease;
        position: absolute;
        left: 0;
        right: 0;

        .legend {
            visibility: hidden;
            transition: visibility 1s ease 1s;
            color: $black;
        }

        path {
            &.ring-arc-3 {
                stroke: $grey-darkest;
                fill: $grey-lightest;
            }

            &.ring-arc-2 {
                stroke: $grey-darkest;
                fill: $grey-lightest;
            }

            &.ring-arc-1 {
                stroke: $grey-darkest;
                fill: $grey-lightest;
            }

            &.ring-arc-0 {
                stroke: $grey-darkest;
                fill: $grey-lightest;
            }
        }

        .blip-link {
            text-decoration: none;
            cursor: pointer;
        }

        .quadrant-group {
            cursor: pointer;
        }

        circle,
        polygon,
        path {
            &.first {
                fill: $green;
                stroke: none;
            }

            &.second {
                fill: $blue;
                stroke: none;
            }

            &.third {
                fill: $orange;
                stroke: none;
            }

            &.fourth {
                fill: $violet;
                stroke: none;
            }
        }

        line {
            stroke: white;
        }

        text {
            &.blip-text {
                font-size: 9px;
                font-style: italic;
                fill: $white;
            }

            &.line-text {
                text-transform: uppercase;
                fill: $black;
                font-size: 15px;
            }
        }
    }

    div.quadrant-table {
        .quadrant-table__name {
            display: none;
        }

        max-height: 0;
        max-width: 0;
        position: absolute;
        overflow: hidden;

        transition: max-height 0.5s ease 1s;

        h3 {
            text-transform: uppercase;
            font-size: $baseFont;
            margin: 0;
            font-weight: bold;
        }

        &.first {
            &.selected {
                float: right;
            }
        }

        &.second {
            &.selected {
                float: left;
            }
        }

        &.third {
            &.selected {
                float: left;
            }
        }

        &.fourth {
            &.selected {
                float: right;
            }
        }

        &.selected {
            position: relative;
            max-height: 10000px;
            max-width: 40%;
        }

        ul {
            padding: 0;
            margin-left: 0;

            li {
                list-style-type: none;
                padding-left: 0;

                .blip-list-item {
                    padding: 2px 5px;
                    border-radius: 2px;
                    cursor: pointer;
                    font-size: $baseFont;
                    font-weight: 400;

                    &.highlight {
                        color: white;
                        background-color: rgba(0, 0, 0, 0.8);
                    }
                }

                .blip-item-description {
                    max-height: 0;
                    overflow: hidden;
                    width: 300px;

                    p {
                        margin: 0;
                        border-top: 1px solid rgb(119, 119, 119);
                        border-bottom: 1px solid rgb(119, 119, 119);
                        padding: 20px;
                        color: $grey-text;
                        font-weight: 100;
                        font-size: 14px;
                    }

                    transition: max-height 0.2s ease;

                    &.expanded {
                        transition: max-height 0.5s ease 0.2s;
                        max-height: 1000px;
                    }
                }
            }
        }
    }
}

.buttons-group,
#alternative-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: space-between;
}

.quadrant-btn--group {
    display: flex;
}

.multiple-sheet-button-group {
    text-align: left;
    padding-left: 10%;
}

.buttons-group {
    padding: 15px 0 25px;
}

.home-link {
    color: $pink;
    margin-bottom: 10px;
    cursor: pointer;
    display: inline-block;
    font-size: $baseFont;
}

.button {
    font-size: $baseFont;
    text-transform: capitalize;
    margin-right: 20px;
    border-radius: 2px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.2s ease-out;

    background-color: $grey-light;
    color: $black;

    &.no-capitalize {
        text-transform: none;
    }

    &:hover,
    &.selected {
        transform: translate(0, -2px);
        opacity: 0.85;

        &.first {
            color: white;
            background-color: $green;
        }

        &.second {
            color: white;
            background-color: $blue;
        }

        &.third {
            color: white;
            background-color: $orange;
        }

        &.fourth {
            color: white;
            background-color: $violet;
        }
    }

    &.full-view {
        &.first {
            background-color: $green;
            color: $white;
        }

        &.second {
            background-color: $blue;
            color: $white;
        }

        &.third {
            background-color: $orange;
            color: $white;
        }

        &.fourth {
            background-color: $violet;
            color: $white;
        }
    }
}

#alternative-buttons {
    margin-bottom: 50px;

    .highlight {
        border-bottom: none;
        font-weight: bold;
    }

    p {
        font-size: 16px;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 10px;
    }

    .multiple-sheet-button {
        margin-right: 10px;
    }
}
