@import 'colors';
@import 'fonts';
@import 'tip';
@import 'form';
@import 'error';
@import 'header';
@import 'footer';
@import 'herobanner';
@import 'mediaqueries';
@import 'menu';
@import 'layout';
@import 'loader';
@import 'radar';

html,
body {
    padding: 0;
    margin: 0;
    font-family: $baseFontFamily;
}

a {
    color: $link-normal;
    border-color: $link-normal;
    text-decoration: none;

    &:hover {
        color: $link-hover;
        border-color: $link-hover;
    }
}

* {
    box-sizing: border-box;
}

p {
    font-size: 18px;
    line-height: 27px;
    font-weight: 100;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Karla', serif;
    text-transform: none;
    letter-spacing: -3.42px;

    @include media-query-large {
        font-size: 3.5rem;
    }
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.main {
    flex-grow: 1;
}
